@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #F5F5F5;
  --head-text-color: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Quicksand, Palanquin, pl, serif;
}
